[2017-10-13 01:18] dabbott opened #1 "Direct Manipulation"
We should think about how we want to allow direct manipulation of some of the most common component properties.

Some misc ideas:

We'll know which values can be directly manipulated and which are overriden by parameters.

We'll *may* only let you manipulate one canvas at a time for perf, at least at first.

The most common things to tweak, e.g. direction, could be colocated for speed

Spacing:
-

[2017-11-22 16:19] dabbott opened #5 "Tasks"
Here are some of the high level tasks I'd like to work on in the near-term. All of these are fairly nuanced, so if you're gonna pick one up, we should talk about it beforehand.

## Design
- [x] Add landing page that allows workspace selection and shows the contents of the workspace #11
- [ ] Lona Studio UI overhaul - let's try to make things simpler and more designer friendly. Smart defaults, but

[2017-11-22 16:21] ljharb commented on #5
Also:
## Testing
- [ ] add automated tests
- [ ] gate merging on travis-ci passing those tests

[2017-11-22 19:18] ruswerner commented on #5
@dabbott I'm curious what your workflow is for getting Sketch assets into Lona? Do you manually rebuild the UI in Lona Studio, or do you have a converter that transforms the Sketch json into your component json format? If nothing exists yet, that's cool, but I'd be keen to know your thoughts around  the ideal/eventual workflow from Sketch to code. Cheers.

[2017-11-22 21:33] dabbott commented on #5
@ruswerner I think there should be a converter. Right now there isn't one, so we've been building UI in Lona Studio. It wouldn't be too hard to write a converter, but maintaining it for Sketch releases going forward would be very time-consuming.

The Sketch format is missing a lot of info needed to make a good `.component`. The converter's output will be a good starting point for the visuals, but

[2017-11-23 01:30] ruswerner commented on #5
@dabbott I've been working on similar things at Atomic.io recently and this really caught my eye. I'd like to chat with you a bit more about this sometime soon. What's the best way to DM you?

[2017-11-23 03:59] dabbott commented on #5
@ruswerner Probably Twitter. Happy to chat.

[2017-11-24 14:27] equinusocio opened #7 "Add support to web components or polymer 3"
iOS (Swift)
Android (Kotlin)
React Native
Currently, the only target is React Native, and it's extremely rough (i.e. not really usable).

It could be awesome also support Polymer or native web components to the generated code.

[2017-11-24 21:04] brentvatne opened #9 "Default workspace config"
It might be nice to provide some simple default configuration when creating a workspace, so there are is a basic color palette and text styles that demo what you can do. It would make it easier for people to try the project out.

[2017-11-24 21:31] dabbott commented on #9
Totally! This is the very next thing I'm gonna push up. I have a branch with a material design one. I'm home for Thanksgiving till Monday though, so... probably you'll have more luck waiting till then.

[2017-11-25 04:06] ryngonzalez opened #11 "Workspace Landing Page"
## Context

To work in Lona Studio, you'll need a properly configured workspace. A workspace is a directory containing, optionally, the following files:

![workspace](https://user-images.githubusercontent.com/635300/33226758-ab24bdb4-d149-11e7-8011-3b56b4948804.png)

### `colors.json`
<img width="1552" alt="screenshot 2017-11-24 18 42 45" src="https://user-images.githubusercontent.com/635300/33226

[2017-11-25 04:15] ryngonzalez opened #12 "Workspaces -> `.lona` project "files""
# Proposal
To make it easier to share, think about, and work with design system workspaces, we should consider converting the concept of these workspace folders to `.lona` project "files".

## A Single Unit
One of the more confusing aspects of Lona currently is the lack of transparency around "workspaces". While #11 should make it easier to work with workspaces, indicating that you need to create

[2017-11-25 04:17] ryngonzalez commented on #7
@equinusocio Could you flesh this out a little more? Would be useful to understand your use case!

[2017-11-25 04:21] ryngonzalez opened #13 "Create ISSUE_TEMPLATE.md in .github folder"
Provide a placeholder for people to use to generate a more useful issue for bug reports, requests, potential discussions, etc.

[2017-11-25 13:14] equinusocio commented on #7
Done 👍

[2017-11-25 15:52] dabbott commented on #11
@ryngonzalez this is a fantastic overview! It's really easy to jump in at the right point for discussion.

I think the goals are mostly right, but I would say workspaces in Lona are a slightly different use case than e.g. Framer projects. Framer projects are more analogous to Lona components than to Lona workspaces I think. In Framer it's likely I'll be juggling several different projects at any t

[2017-11-25 16:16] dabbott commented on #12
This seems like the right UX for what we're doing. We would do this using mac [document packages](https://developer.apple.com/library/content/documentation/CoreFoundation/Conceptual/CFBundles/DocumentPackages/DocumentPackages.html#//apple_ref/doc/uid/10000123i-CH106-SW1), right?

This seems all positive, but what are the downsides to doing it this way?

I remember Sketch files were like this at on

[2017-11-25 16:18] dabbott commented on #13
Good thinking.

[2017-11-25 16:29] ljharb commented on #11
It might also be nice to use a GitHub repo url and keep the workspace synced - ie, integrate git into Lona.

[2017-11-25 16:37] haswalt opened #14 "Lona should be able to edit colors and typography files"
I'd like to see Lona be able to edit the workspace configuration so that it doesn't need to be created before using the workspace.

Happy to take up some of these issues.

[2017-11-25 16:38] haswalt opened #15 "White typography disappears in Text interface"
Because the background is white when rendering white text you cannot see the text any more.

I'm guessing either us a contrasting background for white text?

[2017-11-25 16:39] haswalt opened #16 "Text align ignored from textStyles.json"
Trying out typography with textAlign: center and it isn't reflected on the canvas.

[2017-11-25 17:26] dabbott commented on #11
@ljharb yes, totally!

[2017-11-25 17:43] dabbott commented on #14
Yes, absolutely!

As a first step, I think we could try to make workspace colors editable from within the color picker. Currently we have:

![screen shot 2017-11-25 at 9 32 32 am](https://user-images.githubusercontent.com/1198882/33232966-286e6e44-d1c4-11e7-8046-9e454ba7b1e8.png)

I think it'd make sense to be able to at least add a color, and possibly edit colors from here. Eventually I want ther

[2017-11-25 17:46] dabbott commented on #15
Yeah, that sounds reasonable. Looks like that's what Sketch does:

![screen shot 2017-11-25 at 9 45 00 am](https://user-images.githubusercontent.com/1198882/33233069-64c08cc8-d1c5-11e7-84e1-3a1351c7a339.png)

I think first we'd want to make the text style picker look more like the color picker though, since the text style picker is pretty poorly designed in general right now.

[2017-11-25 17:47] haswalt commented on #14
@dabbott Sure i'll have a go.

[2017-11-25 17:47] dabbott opened #20 "Update Text Style picker UI to match color picker UI"

[2017-11-25 17:49] haswalt commented on #15
@dabbott I've been thinking about this and have one issue with maintaining the style including the font size and actually this still looks and feels pretty clunky in the sketch UI if you have large font sizes. Although they do cap the font size to a maximum when showing the font styles.

[2017-11-25 17:53] haswalt commented on #12
Looking at workspaces and project files in Xcode you have several individual files in your "project" or "workspace" but they are linked into a collection or "project" by the xcodeproj file.

In most cases users of Lona would be generating code for projects that aren't contained in a single file so multiple files here isn't a problem IMO.

I feel something well defined, diffable and therefore suite

[2017-11-25 17:54] dabbott commented on #16
Thanks for looking into this.

Do you think `textAlign` should be an attribute of text styles, or a parameter of the `Text` component?

At least at Airbnb, text alignment isn't part of the typography guidelines. It'd be part of the individual component that needs aligned text. Basically I've been imagining it going here somewhere:

![screen_shot_2017-11-25_at_9_33_44_am](https://user-images.github

[2017-11-25 17:59] dabbott commented on #14
@haswalt do you want to figure out the design also? Or should I make a wireframe or what this'd look like?

[2017-11-25 18:03] haswalt commented on #16
I agree that it really should be part of the component, however I also envisioned people using the studio outside of a pure component system, say just for generating sketch files from unified DLS.

Having it on the text style is convenient but actually causes more issues I think as you'd probably end up overriding it more often than not in the course of designing full featured projects.

Probably

[2017-11-25 18:11] haswalt commented on #14
I'm happy to have a look at the design. I'll throw up some wireframes when I get some time soon

[2017-11-25 18:12] haswalt commented on #13
Something from https://github.com/stevemao/github-issue-templates?

or react-native repo has a fairly decent example

[2017-11-26 21:20] dylanslewis commented on #5
@dabbott love the look of Lona as a tool for being the source of truth of the design system, but won't the code exports suffer from the same issues as Zeplin where it's still a very manual process to generate the new code and update all existing references in the project? This also seems to assume that every project would want the same style of code exported, which may conflict with requirements s

[2017-11-27 01:51] Eishpirate opened #22 "How to export Sketch files into .component format"
It would be good if we had some documentation on how to export Sketch files into the .component JSON file format.

That would allow Designers with a less technical bent to be more fully involved in the project and generate some traction.

[2017-11-27 17:00] dabbott commented on #7
I've been thinking about how to handle different targets quite a bit. I think the compiler will have to output some IR which is then consumed by the different code generators. So we would have a code generator that takes in the IR and outputs web components or polymer code.

I think web components and polymer are valuable targets, but I won't be writing/maintaining those code generators since Airb

[2017-11-27 17:00] #7 closed

[2017-11-27 17:18] dabbott commented on #5
@dylanslewis this looks really cool! It seems like it could make sense for generating things like color and text styles, and is much more fully thought through than what I've cobbled together so far. I think generating the actual view hierarchy code is going to have to happen in this repo due to its complexity, but delegating to stylesync for Sketch interop and styles is worth considering.

1. Can

[2017-11-27 17:19] dabbott commented on #9
Done. Very primitive, but here it is https://github.com/airbnb/Lona/tree/master/examples/material-design

[2017-11-27 17:19] #9 closed

[2017-11-27 17:21] dabbott commented on #22
Yes, totally! Currently there's no way to go from Sketch -> .component, but we're actively exploring how to do that. This project probably isn't ready for non-technical designers yet, since it's still very very rough. We'll for sure add way more docs when it's ready.

Closing this for now

[2017-11-27 17:21] #22 closed

[2017-11-27 18:42] dylanslewis commented on #5
Yeah it’s responsibility isn’t really for the hierarchy code, but I think it can definitely work for the code generation and Sketch imports with a bit more work on my side.

Yep, will do this later tonight

Sounds good, what works best for you?

[2017-11-27 20:14] awinogradov commented on #22
Do you have specification for `.component` format? So, I can help ;)

[2017-11-27 23:53] dylanslewis opened #24 "Using stylesync for code generation and Sketch interoperability"
# The problem

A key [planned feature](https://github.com/airbnb/Lona/issues/5#issue-276127122) of Lona is the ability to generate styling code for multiple platforms and languages, including React Native and Swift. From my understanding of the plans, there are a few issues with the suggested approach:
- offering a single style of generated code for a platform makes Lona difficult to customise for

[2017-11-28 11:40] danhollick opened #25 "Amend readme to indicate which file to open"
The readme doesn't specify which file to open in XCode: The  `LonaStudio.xcodeproj` or the `LonaStudio.xcworkspace`

If you open the `LonaStudio.xcodeproj`  file and try to build that, you will get some module errors ie:
`No such module 'Lottie'`.

So just to avoid confusion maybe it would be best to indicate this in the readme.

[2017-11-28 15:13] MattKevan commented on #12
Not sure if it's the same as a document package, but what about a similar file format to Sketch, where .sketch files are actually zips? This means sketch files can be easily manipulated by other programs, as well as being stored in version control etc.

[2017-11-28 18:49] dabbott commented on #24
I think the problems you describe are accurate. Can you explain how stylesync solves each of them?

Code generation will be part of CI. Lona Studio will eventually support simple git operations, e.g. pull requests, for making changes to the design system. After changes are merged, Lona Compiler will be responsible for generating code on CI. This could delegate to stylesync for outputting style cod

[2017-11-28 18:56] dabbott commented on #25
Yep, good point.

[2017-11-28 18:58] dabbott commented on #25
Done!

[2017-11-28 18:58] #25 closed

[2017-11-29 19:04] jasonbirchler opened #26 "Video walkthrough"
I have read the README and successfully built LonaStudio from the source. I have also set up a workspace and successfully generated code from the material-design example. Based on the problem statement in the README, I think I could benefit from, and possibly contribute to, this project but a brief walkthrough of how all the pieces fit together would be super-helpful.

[2017-11-29 20:21] dylanslewis commented on #24
As discussed, whilst stylesync does solve the problems described, the focus for Lona right now is not related to custom code exports or project maintenance. Will close this for now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-29 20:21] #24 closed

[2017-11-30 08:28] lukasoppermann opened #27 "Add Screenshots? 🙀"
Hey,

I am very confused as to what Lona (Studio) is. Could you maybe attach some screenshots of the app so one can get an Idea what it is and how to work with it? That would be neat.

Yes, I know its a dev preview, but more people testing = better, right? 🙃

Thanks

[2017-11-30 09:46] dennislaupman opened #28 "Problems with building workspace"
Hello!

When I try to run the "LonaStudio.xcworkspace" in Xcode Version 9.0 beta 5 (9M202q).

The build failed:

![image](https://user-images.githubusercontent.com/1274858/33424243-8074dace-d5bb-11e7-805e-06ce465ea8f6.png)

Okay I found more information:
_According to the beta 5 release notes:_
_"Building macOS apps with the AVFoundation framework is not supported with Xcode 9 beta 5."_

Is it pos

[2017-12-04 07:04] NghiaTranUIT commented on #20
Hi @dabbott , this project is amazing idea 👍
To be honest,  I and designer/android team are struggling this exactly situation in every time you're facing. I love this idea so much.

I'm wondering if you're working on this issues or not ?
If not I'm willing to contribute my effort on my spare time 😃

[2017-12-04 20:13] dabbott commented on #26
Hey @jasonbirchler! I can show you how the pieces fit together. Let's connect via twitter or email or something?

I'm not publishing much user-facing documentation yet, since honestly it's not ready for a large audience to try it out. However, if you've built it yourself I'm happy to give you a tour.

[2017-12-04 20:21] dabbott commented on #27
Hey! I open sourced this super early so I can start chatting/collaborating with other folks working on design tools... but it isn't really ready for non-contributors to test.

I'm for sure gonna add screenshots and documentation when it's ready for a broader audience to try it out. In the meantime, you're welcome to build it 😉

[2017-12-04 20:21] #27 closed

[2017-12-04 20:22] dabbott commented on #28
Hmm... based on that error message, I'm wondering if it'll build for you in Xcode 9 non-beta? I use AVFoundation for exporting animations to video, so I don't think I can solve that.

[2017-12-04 21:40] haswalt commented on #28
I can’t vouch for beta but built with no issues in Xcode 9.

Make sure you’ve run pod install and opened the workspace.

Maybe try clearing the derived data folder and doing a build clean.

Harry Walter

M: +44 (0)784 9503 950<tel:+44%20784%209503%20950>
W: harrywalter.co.uk<http://harrywalter.co.uk/>

On 4 December 2017 at 20:22:36, Devin Abbott (notifications@github.com<mailto:notifications@gith

[2017-12-05 15:40] NghiaTranUIT opened #29 "Add shadow support"
## Motivation
The shadow is the must-have feature in all of design tools, such as Sketch, Photoshop, etc.
So, there is no reason Lona doesn't support it. Let do it 😉

## Design
Inspired how Sketch does.
<img width="214" alt="screen shot 2017-12-05 at 10 07 21 pm" src="https://user-images.githubusercontent.com/5878421/33614122-07bc7d6a-da09-11e7-8287-88844015547e.png">

## Acceptance Criteria
+ Abl

[2017-12-05 17:31] dabbott commented on #20
@NghiaTranUIT I'm really glad you like the project. I have faced this problem so many times... but I think we can finally solve it!

I haven't started working on this issue. I would love if you could do it 😄 . Let me know if you run into any issues or want to discuss more.

[2017-12-06 06:54] NghiaTranUIT commented on #20
Ok, Let me do it 👍

[2017-12-06 08:33] bielikb commented on #29
im happy to help too ;)

[2017-12-06 19:28] dabbott commented on #29
Totally agree, Lona needs shadows! Thank you for the detailed writeup 😄

I have code for reading in shadow configurations on the `shadows` branch: https://github.com/airbnb/Lona/compare/shadows?expand=1

I think shadows should be configured per workspace with `shadows.json` just like colors, text styles, and gradients. This will allow us to refer to shadows by `id` from within `textStyles.json`.

[2017-12-06 21:04] dennislaupman commented on #28
Hi @dabbott, @haswalt,

I downgraded my Xcode. I'm now able to build Lona and that has solved the problem!
Thanks for your support.

Dennis

[2017-12-06 21:05] #28 closed

[2017-12-06 21:19] dennislaupman opened #33 "Canvas heights not set by default"
Hi,

When I open a new project, The canvas width is set by default to the correct 375px, but the height doesn't. The height is set to 100px. Is there a reason for that?

![image](https://user-images.githubusercontent.com/1274858/33685953-8423c21c-dad3-11e7-9765-4b888ecba283.png)

Otherwise I will change it and send a pull request :P

Grtz Dennis

[2017-12-07 07:27] NghiaTranUIT commented on #29
I didn't awake we should separate `shadow.json` as individual component like `color.json` and `textStyles.json` does. Thanks for useful advice.
In addition, it obviously to reuse the Color Picker.
I will give a try on shadow, because it seems to not difficult to me than other tasks 🤣

[2017-12-07 07:30] NghiaTranUIT commented on #29
I have a question.
If we only have the Shadow Picker to pick it from `shadow.json`, where I can create new Shadow like Sketch does ?

[2017-12-07 10:28] bielikb commented on #29
Im comming from iOS background -> so setting shadow on CALayer's on iOS makes sense. Performance wise it can be quite slow in table views, collection views, but I guess that's up to developer to decide how he will handle optimizations in his project.
In my projects I'm using small extension for setting shadow, that defines to which side the shadow should be set (e.g. top, bottom, etc). I think you

[2017-12-07 15:50] dennislaupman commented on #33
See pull request #34

[2017-12-07 18:54] lyahdav opened #35 ""Unable to satisfy following requirements" error for Yoga during pod install"
I cloned the repo today, ran `bundle && bundle exec pod install` and I get the following error:
[code]

[2017-12-07 19:03] lyahdav commented on #35
I resolved this by running the suggested command `bundle exec pod repo update` and then `bundle exec pod install`. Note that the `pod repo update` command took about 5 or 10 minutes, in case it also seems to hang for others.

[2017-12-07 19:03] #35 closed

[2017-12-07 19:19] lyahdav opened #36 ""SyntaxError: Unexpected token )" when running compiler"
Following the [README](https://github.com/airbnb/Lona#generating-code), I ran:
[code]

And I got the following error:
[code]

I'm on node 7.4.0.

[2017-12-07 19:19] lyahdav commented on #36
Resolved by using node v8.9.2.

[2017-12-07 19:19] #36 closed

[2017-12-07 19:25] lyahdav opened #37 "UnhandledPromiseRejectionWarning about colors.json when compiling to react"
[code]

I was thinking maybe if I use some colors it would resolve this, but if I try to set a custom color on a View's border, it doesn't seem to work yet (the Custom colors drop down is empty).

[2017-12-07 19:26] dabbott commented on #29
@NghiaTranUIT yes, I think creating shadows like in Sketch is another separate task/feature. Let's start with trying to render shadows on the canvas from `shadows.json`, and after that we'll figure out how to edit them.

Lona should _definitely_ support creating/editing custom colors/text styles/shadows/gradients. Related: https://github.com/airbnb/Lona/issues/14

[2017-12-07 19:26] dabbott commented on #29
@bielikb I think if we're gonna get to a Sketch-style shadow editor, there are a couple intermediate steps that you could help with. Since I already have the shadow parsing on my branch... one thing you could help with is the color picker:

![pasted_image_12_7_17__11_16_am](https://user-images.githubusercontent.com/1198882/33733937-2b9fc2ae-db40-11e7-9df3-ac77068adfc0.png)

Unlike most other place

[2017-12-07 19:31] dabbott commented on #37
Hey man! Hmm... ok, firstly, I haven't touched the code gen script in a bit since I'm working on a better one. But I think

1. you'll want to pass a directory as the first argument, rather than a component, e.g. `node index.js LonaWorkspace output`
2. if the custom colors aren't showing, that probably means (1) the workspace hasn't been set in preferences, or (2) there isn't a `colors.json` in the

[2017-12-07 19:35] lyahdav commented on #37
Hey Devin! Yeah, this is my bad. Was just documenting issues as I ran into them and was going to document how I resolved, didn't expect such a fast response. I resolved with a few changes:

1. As you said I needed to pass in the workspace path, which I first configured in preferences. Then I moved my `.component` into that workspace path.
1. I had to manually create `colors.json` and `textStyles.j

[2017-12-07 19:35] #37 closed

[2017-12-07 19:37] dabbott commented on #37
Oh nice! I just happened to be looking over issues you got a fast response mostly coincidentally 😂

[2017-12-07 21:14] dennislaupman commented on #33
Hello Devin,

Ahhhh that clarifies a lot.

I also have some ideas about this. I will work this out and post it.

What I wondered. Where are the parameter values set? The demo texts, images etc? I can see them in the demo component (card). But not in the GUI.

Greetings Dennis

PS. Is it an idea to setup a Gitter?  Thats works great for brainstorms

[2017-12-07 22:13] dabbott commented on #33
Let me think about the Gitter a bit... I'm thinking _not yet_ since I'm not sure I'll have the time to stay on top of it at the moment. But this could be a good idea when I have a little more bandwidth in the future. Let's stick to Github issues for now but revisit if it becomes a hassle.

The parameters come from *Cases* in this example (definitely need a better way to visualize where parameters

[2017-12-07 22:13] haswalt commented on #33
So far I see 2 good solutions:

1. Given that a  lot of the UI decision have been taken from Sketch start with no canvases defined. this implies that the canvas is based on your decisions.
2. Start with (n) clearly labeled phone sizes. This will give a guide to new users to what they may be building, coming from design land I often start with a full screen design and break down into components onc

[2017-12-07 22:14] haswalt commented on #29
for my 2 cents, shadows in react native for example are an odd beast from what I know.

They don't perform as well across different platforms and often it's significantly more performant to add shadows in the form of PNGs instead of generated shadows. CALayer shadows are much more performant than shadows in android land from what i've read.

[2017-12-07 23:43] dennislaupman commented on #33
Hi Devin, Haswalt,

I think it is easier to give them the choice of canvas or component for they begin. See my (quick) concept.

![welcome_to_lona](https://user-images.githubusercontent.com/1274858/33744239-9c333080-dbb0-11e7-9423-a57902d4fcaf.png)

After they make a choice we can set te canvas to the immediately height.

[2017-12-08 00:36] dabbott commented on #33
Right, creating two different starting "templates" (Canvas/Screen or Component) seems reasonable.

#### Pros
- Clarity around your _intent_ will help us choose a better default state for your new component

#### Cons
- Fundamentally Lona only has "components", so the choice is kind of misleading. E.g. if I open up a saved file, I might wonder whether it's a canvas or a component, but that distinct

[2017-12-08 00:40] dabbott commented on #29
@haswalt very good point. I forgot to think about React Native 😭 . I will update my post above.

[2017-12-08 11:25] dennislaupman commented on #33
AHhhh okay... Now I understand :P

2 new ideas:

Welcome screen:

![welcome_to_lona_take_2](https://user-images.githubusercontent.com/1274858/33763940-acbf83c4-dc12-11e7-8516-630415ef47b9.png)

Or in the GUI just like Sketch?:

![image](https://user-images.githubusercontent.com/1274858/33763880-71d1f85a-dc12-11e7-944f-b4c822a72a1d.png)

Or... both

[2017-12-08 11:45] dennislaupman commented on #12
what I loved in Flash (in the good old days) was that you could insert external components/MovieClips in your library. I don't know what the end idea of a component is? Only tags and styles of also logic? For example the possibility to switch on or off a switcher?

[2017-12-08 11:56] dennislaupman commented on #33
Okay I read # 11 (I had missed it). Initially the Workspace is always the starting point?

[2017-12-08 19:47] dabbott commented on #20
Closed with https://github.com/airbnb/Lona/pull/31!

[2017-12-08 19:47] #20 closed

[2017-12-08 19:53] dabbott commented on #15
@haswalt we can probably figure out what to do about this now that https://github.com/airbnb/Lona/issues/20 has closed

[2017-12-08 20:15] dabbott commented on #33
@dennislaupman I like this direction overall. It's clear which workspace I'm using, and I can see which components I can open.

I might tweak it so both "new component" and "open component" can be accessed from the same screen:

![bitmap](https://user-images.githubusercontent.com/1198882/33783227-b4b8c52e-dc10-11e7-92c2-80ad65f5edda.png)

As some other inspiration, I think photoshop does this pret

[2017-12-08 20:35] dennislaupman commented on #33
Oww wow yes, thats looks great! (I'm still using C6 :P)

[2017-12-08 20:51] dennislaupman opened #39 "Importing for example sketch"
What will be the right method:

First of all I'm a Sketch user, that's why I approach this as starting point:

- Syncing (if possible). You need to open Sketch and if you update your design, Lona will ask you if you want to update your component.
- Export trough a export (Skewtch) plugin
- Import file in Lona

Last question: have you already started with the import?

[2017-12-08 21:49] dennislaupman commented on #33
Maybe its a good idea to combine this issue with #11?

[2017-12-09 14:47] dabbott commented on #33
Good idea. Closing this one.

[2017-12-09 14:47] #33 closed

[2017-12-09 15:00] dabbott commented on #11
Carrying a few things over from https://github.com/airbnb/Lona/issues/11:

When creating a new component, it would be useful to be able to choose a starting "template", e.g. I want to make a "component" or a "screen". This will help us configure the new file automatically, rather than having to manually tweak the canvases.

We also brainstormed a few ideas for what this could look like.

There is

[2017-12-09 19:44] dennislaupman commented on #12
@dabbott  Maybe it's an good idea to add small thumbs/png's of the components in a preview folder. So we don't have to render them in the workspace overview

[2017-12-11 01:29] ryngonzalez commented on #16
I agree with the sentiment here; I think alignment is going to generally be use-specific, so it would make more sense to keep it out of the text styles. If alignment needs to be reused and shared, it can be encoded into a component, with a use case (and appropriate name) in mind.

[2017-12-11 01:34] ryngonzalez commented on #16
Closing this for now! Please reopen if needed.

[2017-12-11 01:34] #16 closed

[2017-12-12 03:31] #13 closed

[2017-12-12 15:25] NghiaTranUIT opened #44 "Generic Picker"
## Suggesting a New Feature

We're using Picker for various features, such as ColorPicker, TextStylePicker, ShadowPicker and BackgroundColor, and our app are going to expand bigger in the future. I suppose there are many place we will use picker.
So let make the generic picker and reusing it easily.

## Summary of Idea

+ Design the generic Picker serves many purpose
+ Able to reuse every where in

[2017-12-12 21:08] btn0s commented on #26
I'd love to connect as well @dabbott -- I tweeted out to you earlier today 😄

[2017-12-12 21:18] btn0s commented on #39
I've been thinking about this a lot today as well, I think the better question to ask might be: Where does Lona fit into a workflow? What's the ideal workflow built around Lona?

Personally I don't really know what that might look like, but it's a conversation we should have as this grows. Also-- How does this play with [`react-sketchapp`](https://github.com/airbnb/react-sketchapp)?

[2017-12-13 04:57] dabbott commented on #44
I was focused on internal stuff today... I will leave feedback tomorrow!

[2017-12-13 06:07] btn0s commented on #1
This looks great. Playing with Lona so far one of the things I find myself doing out of habit it trying to click on components on the canvas and edit them directly so I would imagine other designers do the same (wow--for once I get to be the designer _and_ the target user at the same time haha).

### What types of values would be editable in the modal in the example?
Layout is shown which makes me

[2017-12-13 09:01] dennislaupman commented on #39
Yes, Correct!

What really bothers me at the moment is the prototypes (made with Framer, Origami) are usable for production. If the UX prototype is finished, everything has to be converted to code. If we could build a bridge between design tools like Sketch and code frameworks such as React (native), we could save a lot of work.

I don't know ;) I Desning in Code does'nt work for me (maybe that's

[2017-12-13 10:27] dennislaupman commented on #12
A nother screen for Inspiration:

Lingo component manager

![image](https://user-images.githubusercontent.com/1274858/33934231-8d3ce1f6-dff8-11e7-8f11-8a210fb7c6c3.png)

[2017-12-13 10:31] dennislaupman commented on #11
Another screen for Inspiration:

Lingo component manager

![screen shot 2017-12-13 at 11 44 15](https://user-images.githubusercontent.com/1274858/33934387-0bd4e662-dff9-11e7-8302-ee8424c48c8b.png)

![screen shot 2017-12-13 at 11 40 36](https://user-images.githubusercontent.com/1274858/33934274-b7cc7b7a-dff8-11e7-9eae-3ad33d9f406d.png)

[2017-12-13 16:53] dabbott commented on #44
Ok, overall this looks really good. There are a few things I'd like to change a little:

---

1. I would prefer to provide configuration parameters to the `GeneralPickerView` through the `init` rather than using the delegate/data source patterns. I find the code becomes much easier to follow when all configuration is declared one place. I know this _goes against Apple/Cocoa patterns_ a bit, but I

[2017-12-14 02:49] GuillaumeSalles opened #45 "Input layers support (Button, TextInput, etc...)"
I don't think it was already asked or mentioned in the README, but do you plan to support inputs like buttons, checkboxes, text input, etc? If yes, how do you see it?

I didn't really thought about the implementation but I imagine it will be challenging to generate components inputs that share the same behaviors/styles on different platforms.

[2017-12-14 13:51] dennislaupman commented on #12
I Think we need te set a several steps:

1. Change the (NS)Document structure. Its now based on components and missing the workspace layer (Right?)?
2. We add a FIleWrapper functionality to save file bundles instead of a single file

Is this something we can provide in the nearby future? I think its a fundamental change in the structure.

[2017-12-14 16:45] dabbott commented on #45
I definitely want to support these. I agree it'll probably be tricky... I haven't attempted to this, since we haven't needed them for internal projects just yet (but we will). Here's what I'm thinking so far.

Let's take a Text Input for example:

1. There will be a "lowest common denominator" kind of Text Input, that supports a limited variety of parameters, but looks (mostly) the same across all

[2017-12-18 23:07] jasonzurita opened #46 "Generation of Swift UI code"
## Summary
This would allow the Lona Compiler to convert a .component file into Swift UI code.

An outline of what is involved to accomplish this would be great to help identify areas where the community can contribute.

[2017-12-19 23:50] dabbott commented on #46
Thanks for getting this issue started @jasonzurita.

I'll be using the steps involved in converting `.component` to `JavaScript` as a reference. Here are the different pieces I see:

1. The compiler needs to support building a Swift AST. We don't need to support every AST type -- we just need the parts that we'll actually write. So far for JS I've needed about 20 types out of I think 50 or so.
htt

[2017-12-20 00:31] GuillaumeSalles commented on #45
I fully agree with your proposition. A little bit like the React Native mantra ("learn once, write anywhere"), learn Lona once, build components anywhere.

Lona already supports properties that are not natively supported in web development (Aspect ratio, max number of lines). I can imagine a `Targeted Platforms` option on the component metadata if the lowest common denominator is not enough.

[2017-12-20 06:34] NghiaTranUIT commented on #44
I agree with your approach since it does against with Coca Pattern a bit, but generally it looks good for starter contributors.

However, I suggest to encapsulate the keyboard and data change logic inside the Picker instead of exposing them.
https://github.com/airbnb/Lona/blob/7bdc403daba78d2e4ad3278ebc9bb6d4f5115228/LonaStudio/Controls/TextStylePickerView.swift#L32-L64

For instance, the initiali

[2017-12-20 16:03] dabbott commented on #44
Ah, that's a great point! Encapsulating onChange and onKeyPress is better.

Yep, looks good to me ✅

[2017-12-20 23:52] dabbott opened #47 "Picker UI design"
## Summary of Idea

We now have a functioning color, text style, and shadow picker thanks to @NghiaTranUIT. We'll soon have a generic picker that we can use for anything (https://github.com/airbnb/Lona/issues/44).

I think we should update the UI design to include a little more information:
- The text style picker should display more details about each style. I want to see at least the name of the

[2017-12-21 10:08] dennislaupman opened #48 "Kind of bug in Sketch export"
## Submitting a Bug Report

We're only providing support to developers/collaborators at the moment. In other words: if you've built Lona Studio in Xcode or attempted to generate code, feel free to report issues or ask for help. Otherwise, please wait for our official release -- we'll provide more designer-facing instructions and documentation as we get closer.

[code]

[2017-12-21 11:06] #48 closed

[2017-12-21 12:47] dennislaupman commented on #47
I'm also missing the "None" color option ;-)

![image](https://user-images.githubusercontent.com/1274858/34256408-791c8d8a-e655-11e7-9b38-37ef840fda58.png)

[2017-12-21 22:58] btn0s commented on #47
@dennislaupman Oh good catch. Thanks!

[2017-12-31 19:39] GuillaumeSalles opened #52 "Override layer parameters on predefined states (Hover, Pressed, etc)"
## Summary of Idea

In order to create more interactive components, I propose to let the user override layer parameters on predefined states like `Hover`, `Pressed`, etc...

The material button is a good example of a component that would benefit from such flexibility. https://material.io/guidelines/components/buttons.html

## Initial Design

Add a dropdown at the top (or bottom) of the layer param

[2018-01-02 23:44] dabbott commented on #52
Thanks for getting this started @GuillaumeSalles! This is a great writeup. I completely agree that we should figure out interactivity.

## Thoughts on this approach

I like this approach because:
- It's very easy and clear to imagine how I would use it. Conceptually it's similar to how I think about states when I design. There's a pressed state, a hover state, etc, and for each state I can specify

[2018-01-04 18:47] dabbott commented on #46
@jasonzurita FYI I got this started in a branch: https://github.com/airbnb/Lona/tree/swift-printer

[2018-01-06 21:04] dabbott commented on #46
Now this one: https://github.com/airbnb/Lona/tree/swift-component-gen

[2018-01-09 08:27] dennislaupman commented on #47
Good work :) Small thing... it doesn't save the color after check out and after that check in. So you have to reselect the color.

[2018-01-09 14:57] jasonzurita commented on #46
@dabbott Awesome, I will use this branch to play around with (sorry for the delay in my response). I have some questions / thoughts after looking through your outline:

-  Ideally we would want the Swift AST writer to be generic accross all the possible input files (colors.json, textStyles.json, .component, etc.), but this may be a little tricky depending on how the different file formats differ.

[2018-01-09 22:54] dabbott commented on #44
Great job @NghiaTranUIT! I'm closing this issue, and we can open a new issue if we find anything to tweak with it.

[2018-01-09 22:54] #44 closed

[2018-01-09 23:09] dabbott commented on #46
@jasonzurita awesome, definitely take a look at my branch. There was some internal interest for getting this underway, so I decided to take a first pass. It's getting close to generating usable components. I think once I merge this one in (should be this week) it'll be a good foundation, and we figure out subsequent improvements and whatnot.

So far the AST writing has been working well for the di

[2018-01-10 04:47] jasonzurita commented on #46
@dabbott This is exciting (I am digesting everything now)!

An outline of the remaining work would be great. If there is something smaller that doesn't block you from making progress, that would be great to get acclimated.

[2018-01-12 22:39] tettoffensive opened #55 "Error trying to run npm install for swift-component-gen"
I'm getting this error when running `nom install` in swift-component-gen. I'm not sure what to make of it (I'm an iOS dev). Maybe I have the wrong version of something installed.

osx / npm -v 5.6.0 / node 9.3.0

[code]

[2018-01-13 03:35] NghiaTranUIT opened #56 "Undo/Redo Mechanism"
## Suggesting a New Feature

The undo/redo mechanism is a must-have functionality on any kind of design tool. So it's high priority to implement this feature carefully.

## Initial Design

In order to implement the Undo/Redo mechanism, we take an advantage of Command Design Pattern, which is one of famous pattern from Gang Of Four.

### Command
`Command` is abstract protocol, which defines the rec

[2018-01-13 16:38] dabbott commented on #55
Hmmm.... I'm not sure. I would start by trying on node 8.4.0, since that's the version I currently bundle with Lona Studio.

I suspect this has to do with a dependency on https://github.com/TooTallNate/NodObjC, which I actually don't use for much and could take out at some point.

Btw, it looks like you're installing the Sketch file generation stuff (`LonaStudio/Scripting/Modules/component-to-sket

[2018-01-13 18:20] dabbott commented on #56
It will be so amazing to have undo/redo support! It can be very frustrating without it... making a change and then forgetting how to get back to where I was.

I think the Command pattern is a great choice here 👍

The main things that come to mind:
1. It seems like Apple provides a pretty comprehensive [Undo manager](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/UndoArc

[2018-01-15 09:06] ilanbrnd commented on #56
Yes, I would recommend not trying to do an end-run around NSUndoManager. Keep stuff simple and leverage the existing architecture as much as possible.

[2018-01-15 09:09] ilanvolow commented on #56
As a previous Mac desktop developer in another life, I agree with your assessment. Keep things simple the existing architecture as (eg. NSUndoManager) as much as possible.

[2018-01-15 09:40] NghiaTranUIT commented on #56
I agree with you guys @dabbott and @ilanvolow. I forgot that Apple's already provided us the power tool like NSUndoManager 👍

I'm doing some research about it then heading back to see the 3rd's option is acceptable or not. Since I prefer to create different implementations of the `Command` protocol than general-purpose protocol.

Thank you for your feedback 👍 😄

[2018-01-15 19:09] ilanvolow opened #58 "Color picker crashes"
Steps to reproduce:

1. Build and run Lona.
2. Select "View" from sidebar
3. Scroll down to the "Color" area and click the "Custom color" button.
4. Type the character 'a' in the "Search Color..." searchfield
5. Hit the Enter key.
6. An index out of range error occurs in the setupSearchView method of the PickerView extension.

[2018-01-16 18:08] dabbott commented on #58
Thanks for reporting.

@NghiaTranUIT I can take a look at this, unless you want to. I'm gonna try to merge in the first pass of my Swift code generation stuff today or tomorrow and can look at this after.

[2018-01-16 20:59] #58 closed

[2018-01-18 03:31] dabbott opened #61 "Compiler status & tasks"
Hello friends! I just merged in what I have so far for Swift code generation. Here's a status update on code generation overall:

## Status

The new ReasonML compiler is significantly easier to work with than the original JavaScript one (and the small proof-of-concept TypeScript one I made), so I'm very happy with ReasonML and plan to continue in this direction.

I've made pretty good progress tow

[2018-01-18 07:43] huyphams opened #62 "Coding conventions (SwiftLint)"
## Suggesting a New Feature

Hi folks, I just came here and I see something. Lona is in the first stage of development and still missing coding conventions. There are also have some invalid configs. It would be great if we have rules for coding. It makes Lona code readable and clean.

## Proposed Implementation

- What do you guys think about to add [SwiftLint](https://github.com/realm/SwiftLint)

[2018-01-18 08:12] NghiaTranUIT commented on #61
Appreciate @dabbott 🥇. It's super clear if we have the road-map.
The `Swift` sections could be more easier to take start off firstly from my experience.

I will take a look and pick one 👍

[2018-01-18 08:19] NghiaTranUIT commented on #62
It's cool @huyphams.
Regrading to SwiftLint - I honestly love it.

I intend to integrate TravisCI as long as the bot from [Danger System](http://danger.systems) in next PR. The conjunction of them are so perfectly for an OSS. It strictly keeps our style convention and contributors on right track 👍

[2018-01-18 10:06] NghiaTranUIT opened #63 "Support TravisCI and Danger"
## Suggesting a New Feature

In order to keep this repository consistently, and enforce how the people contribute to the project.
I'd like to introduce the Danger in conjunction with TravisCI.

## Summary of Idea

**TravisCI**
One of famous CI server. It's totally free for OSS like Lona. We leverage the CI system in order to run test and build automatically with effortless.

**Danger**
Human can't

[2018-01-18 14:56] jasonzurita commented on #61
This is awesome @dabbott!!

I will take a closer look at the remaining work to see where I can be most effective 😎.

[2018-01-18 19:36] dabbott commented on #61
Awesome @jasonzurita! Let me know what you want to do and I can give you an overview of what I have so far.

@NghiaTranUIT I'm happy to have you take one of these, but I also don't wanna take you away from Travis and undo/redo which are also really great. Up to you though!

[2018-01-18 19:40] dabbott commented on #62
@huyphams Sounds fantastic! This will be really helpful for new folks looking to contribute.

👍 👍 👍

[2018-01-18 19:54] dabbott commented on #63
👍  Great thinking. I will create the Travis account or get access to Airbnb's account and create a Danger bot. I haven't tried Danger before but it sounds really helpful.

[2018-01-18 19:55] ljharb commented on #63
There's no need for a travis "account", it just uses github auth; I can help you authorize whatever you need with the airbnb org.

[2018-01-18 20:06] dabbott commented on #63
@NghiaTranUIT Jordan enabled travis for Lona, and I just gave you write access to the repo. If we add a branch with a `.travis.yml` we should see the build here: https://travis-ci.org/airbnb/Lona/builds

[2018-01-18 21:37] dabbott commented on #63
@NghiaTranUIT I created a bot account and set up the `DANGER_GITHUB_API_TOKEN` on our Travis account. I think this should be ready to go if you want to try setting it up. I'm also happy to help in any way with setting things up.

[2018-01-19 04:28] huyphams commented on #62
Hey thanks, I'm working on it. I will create a PR on Sunday 😄

[2018-01-19 12:07] dennislaupman commented on #61
Nice! Looks really good. I think I can't help you out with the JS part :)

[2018-01-20 07:23] NghiaTranUIT commented on #63
Thanks all guys. I'm working on it now 👍

[2018-01-21 08:25] ryh opened #69 "please upgrade .ruby-version (activesupport requires Ruby version >= 2.2.2.)"
## Submitting a Bug Report
OS: macOS 10.13.2
ruby: 2.0.0-p648 (from .ruby-version in repo) REF:#41
## Current Behavior
gem install cannot install `cocoapods` with .ruby-version `2.0.0-p648`

activesupport requires Ruby version >= 2.2.2.

Please  upgrade ruby version and `.ruby-version`

[2018-01-22 20:49] dabbott commented on #63
Closed by https://github.com/airbnb/Lona/pull/67

[2018-01-22 20:49] #63 closed

[2018-01-22 21:46] dabbott commented on #69
Yeah, that sounds good. I've just been using a different version and ignoring this...

I'm going to wait till SwiftLint lands, since that affects pods and project structure https://github.com/airbnb/Lona/pull/70

[2018-01-23 05:41] dingjingpisces2015 opened #71 "Is there any plan for supporting Objective-C?"

[2018-01-23 18:29] dabbott commented on #71
I don't have plans to support Objective-C, since at Airbnb we only use Swift for new UI components.

I want to make the code generation more extensible, so that it's easy to add new languages and targets. I think that's a few months out though.

[2018-01-23 18:32] dabbott commented on #62
Merged! I guess next step is to fix all the warnings? 😭

[2018-01-23 18:34] huyphams commented on #62
Thanks!!!
`Merged! I guess next step is to fix all the warnings? 😭` => yeah, but don't worry. I'm here 😄

[2018-01-24 02:42] NghiaTranUIT commented on #56
Sorry for doing this work later than I expected due to busy work at Zalora.
I've spent time for researching and doing little experience on UndoManager.

It's the potential candidate in order to replace my `CommandManager` since I support seamlessly must-have functionalities like grouping command as long as Cocoa Kit integration.

They offer cumbersome func, such as
[code]
IMO, It's super cumbersom

[2018-01-24 02:43] NghiaTranUIT commented on #56
I'm working on it now to see how to tackle it efficiently 👍

[2018-01-24 02:48] NghiaTranUIT opened #73 "Enable SwiftLint plugin"
## Suggesting a New Feature

We finally integrated `SwiftLint` and `Danger.System` into Lona system.

In order to improve efficient cooperatation. I suggest enabling the Swiftlint plugin in DangerFile. Thus, the `LonaBot` can shot a warning if there are any violation code in his PRs 😄

## Proposed Implementation

1. Uncomment the trigger https://github.com/airbnb/Lona/blob/276f937e256072b316455dd9

[2018-01-24 03:17] ilanvolow commented on #56
A good rule of thumb in general would be to check to make sure Apple hasn’t already implemented something already before taking it on. If you’re used to the JavaScript development world where there’s 8 different non-standard implementations of something basic that you have to painfully sift and sort through (before getting disgusted and writing a 9th one), having great stuff like a One True Apple-

[2018-01-24 18:02] dabbott commented on #73
Yes, this sounds great :+1:! Just need to fix the lint issues...

[2018-01-24 23:45] jasonzurita commented on #61
@dabbott The initial cut at organizing the files by target is great -- easier to reason (no pun intended 😁) about what is going on.

As far as what is left, I figure I should take something smaller to start. I am very comfortable with Swift, but I will have some growing pains using ReasonML / getting used to the code base. What are your thoughts on taking either `View visibility` or `Style propert

[2018-01-25 18:44] #71 closed

[2018-01-26 07:03] NghiaTranUIT commented on #47
@dennislaupman I noticed this issue too. However, I intentionally keep this behavior since I don't want to change the current logic of old Picker View ; ]

The primary scope of this ticket is that refactoring the elegant, reusable Picker Component. Maybe I will improve it later 👍

[2018-01-30 00:05] dabbott commented on #73
Merged! https://github.com/airbnb/Lona/pull/80

[2018-01-30 00:05] #73 closed

[2018-01-30 01:30] dabbott opened #83 "Support View borderWidth and borderColor when generating Swift code"
## Summary

Let's update the Swift code generation to support `borderWidth` and `borderColor`.

## Initial Design

Lona Studio already allows editing these styles:

![screen shot 2018-01-29 at 5 00 24 pm](https://user-images.githubusercontent.com/1198882/35542652-ee4f9af0-0515-11e8-8911-c197bd8fd600.png)

## Proposed Implementation

I'm trying to support both iOS and OSX where possible, so:
- On i

[2018-01-30 01:37] dabbott commented on #61
@jasonzurita I think adding a style property would be a great place to start! I opened a new issue to track adding `borderColor` and `borderWidth`: https://github.com/airbnb/Lona/issues/83

So far I'm the only person who's touched the Reason code, so it's very messy/prototypey. But this'll be a great forcing function to improve it :). As a first thought, I should probably add some scripts that gen

[2018-01-30 15:32] jasonzurita commented on #83
@dabbott What a great breakdown!! I will keep you updated as I work though this 😀!

[2018-01-30 15:46] jasonzurita commented on #61
@dabbott Good to know and sounds like a plan!

re: ps 😬👍🏼. I appreciate it! I am going to dig in a bit more first, and then I will touch base.

[2018-01-31 02:52] NghiaTranUIT commented on #83
Excellent proposal @dabbott. I'm working on Undo/Redo now, then looking forward to contribute next features 👍

[2018-02-01 01:48] dabbott commented on #83
@jasonzurita I updated the compiler package with a command for generating the test files. You can run `yarn snapshot` and it'll generate the JS and Swift workspaces. https://github.com/airbnb/Lona/blob/3bdf32586197231319781238e5bd5931cea1be5b/compiler/core/package.json#L21

No rush @NghiaTranUIT, everything you've done so far has been great!

[2018-03-10 00:19] dabbott commented on #12
Related: https://github.com/airbnb/Lona/pull/113

Component names are now unique within a workspace, and refer to one another by name. This addresses some of the brittleness @GuillaumeSalles mentioned around moving files.

I think in the future, there may be nested/connect workspaces, and component names won't have to be unique between workspaces (think Swift modules)

I'm still :+1: for `.lona` w

[2018-03-10 00:34] dabbott commented on #56
Done!

[2018-03-10 00:34] #56 closed

[2018-03-23 08:55] michaeldong opened #130 "Export Lona/examples/material-design/*.component to React Native Code error."
When I use node , try export component that in  "Lona/examples/material-design".
Error accur. It's say " Cannot destructure property `children` of 'undefined' or 'null"

➜  Lona git:(master) ✗ node compiler/react/index.js /Users/Dong/Documents/gitHubFork/Lona  output
/Users/Dong/Documents/gitHubFork/Lona/examples/material-design/components/Card.component => output/examples/material-design/componen

[2018-03-23 10:02] michaeldong opened #131 "Preferences window duplicate fields bug"
![image](https://user-images.githubusercontent.com/1925773/37823392-5068b12c-2ec4-11e8-88f9-ca99c9849dbb.png)

When I tap some or none , It becomes this.  "the master" branch.

[2018-03-23 10:04] michaeldong commented on #130
This's project has demo that can generate React Native Code?

[2018-03-23 11:43] michaeldong commented on #130
`function getAllLayers(root) {
  const layers = [];

  const getLayers = (layer) => {
    const { children } = layer;
    if (!children || children.length === 0) return;

    children.forEach((child) => {
      layers.push(child);
      getLayers(child);
    });
  };

  getLayers(root);

  return layers;
}`

It's say root don't have children?

[2018-03-23 11:44] michaeldong commented on #130
`function getAllLayers(root) {
const layers = [];

const getLayers = (layer) => {
const { children } = layer;
if (!children || children.length === 0) return;

children.forEach((child) => {
  layers.push(child);
  getLayers(child);
});
};

getLayers(root);

return layers;
}

`

[2018-03-23 11:53] michaeldong commented on #130
![image](https://user-images.githubusercontent.com/1925773/37827670-61368fb0-2ed3-11e8-9b99-543a0f7a9506.png)
oh, I search there are some test js!!!

Where can I find detail instruction to generate it?
I read your ReadME ,  this instruction " node index.js workpath output" doubt me.
I can't generate your test js code.
Hope your reply , and help!

thanks for your great Project!

[2018-03-23 15:41] michaeldong commented on #130
Node version: v8.10.0

[2018-03-26 03:29] michaeldong commented on #130
Anyone can help me? or update the old ReadMe @dabbott.  Hope your reply!

[2018-03-26 17:34] dabbott commented on #130
@michaeldong yeah, the readme needs updating. Check out https://github.com/airbnb/Lona/tree/master/compiler/core

[2018-03-27 03:09] michaeldong commented on #130
Thanks for your link. But I follow it, It's tell me  "Expected field 'rootLayer'" .  What am I missing? look forward  your lastest ReadMe can help me. Thanks again! @dabbott
![image](https://user-images.githubusercontent.com/1925773/37944613-eb1fad5a-31ae-11e8-9307-c6cac00b1f86.png)

[2018-03-27 08:37] michaeldong commented on #130
Oh, I might find The Reason.  https://www.npmjs.com/package/bs-json . Your project use bs-json.
my npm ignore bs-json.   so I can't parse component's json.
This package has been deprecated .  Hope you update your demo.

[2018-04-07 14:35] #83 closed

[2018-04-20 03:59] sogen opened #142 "Building in Xcode 9.2"
## Submitting a Bug Report

Trying to build Lona in Xcode 9.2, OSX Sierra

## Expected Behavior

Build is successfull

## Current Behavior

Build fails,
getting errors about `compactMap`

the issue so far seems to be that Xcode 9.2 is the last supported version on OS X Sierra, and this Xcode runs Swift 4.0.
I'd need to install High Sierra, to install Xcode 9.3, to support Swift 4.1, to build Lona?

[2018-04-20 15:59] #142 closed

[2018-05-07 17:28] dabbott commented on #69
Upgraded!

[2018-05-07 17:28] #69 closed

[2018-05-07 17:28] dabbott commented on #62
SwiftLint is 💯 . Thanks for adding it!

[2018-05-07 17:28] #62 closed

[2018-05-08 18:07] dabbott commented on #69
I'm not sure. Does the ruby version affect how cocoapods get installed?

[2018-05-11 00:23] dabbott opened #155 "[Layout] Text with height set to "fit content" may get compressed"
## Expected Behavior

Text with height set to "fit content" should only shrink below its minimum height when the parent doesn't have enough space.

## Current Behavior

Text with height set to "fit content" causes strange behavior within layouts that have siblings.

Note: Try setting the container view in `TextAction.component` to fit content. Lona Studio's component browser will look incorrect.

[2018-05-14 18:05] jonfelske opened #157 "README.md link to broken"
## Submitting a Bug Report

Broken link in studio/README.md to file format docs.  Found them one folder up:

404 link ->https://github.com/airbnb/Lona/blob/master/studio/docs/file-formats/README.md
working link ->https://github.com/airbnb/Lona/blob/master/docs/file-formats/README.md

Fix on line 34: "../docs/file-formats/README.md "

FYI this is an awesome project.  Would love to help contribute.

[2018-05-21 10:43] andex commented on #142
@sogen Hi, I have same problem, how you resolved it?

[2018-05-21 15:05] sogen commented on #142
Hi, used High Sierra

On Mon, May 21, 2018 at 3:43 AM Andrey Anashkin <notifications@github.com>
wrote:

[2018-06-05 17:06] ryngonzalez commented on #157
Fixed with #161

[2018-06-05 17:06] #157 closed

[2018-07-17 20:25] ondermerol opened #169 "Error while trying to generate Swift code from Lona/examples/test"
I get this error while trying to generate Swift code with this command "./node_modules/.bin/lonac workspace swift ../../examples/test/ ../../examples/output/" in compiler/core/
I am not sure if I make something wrong or not.

<img width="811" alt="screen shot 2018-07-17 at 23 24 45" src="https://user-images.githubusercontent.com/7923958/42843392-a264c286-8a18-11e8-869b-77493cb1afd9.png">

[2018-07-31 07:26] sercand opened #170 "Future of the Lona"
What is the future of the Lona studio after @dabbott left the company?

[2018-07-31 14:59] ljharb commented on #170
Unchanged, as far as i know. @dabbott continues to have the same maintainer access as when he worked here, per our policy.

[2018-08-01 15:57] dabbott commented on #170
I'm using Lona for my own projects, so I'll still be maintaining it. I'll be adding little things incrementally as I need them.

Honestly it's probably too hard for anybody else to use in its current state, but once you know how to use it you can build interfaces at least 3-4x faster, so it's worth the time to maintain 😆.

[2018-08-01 15:57] #170 closed

[2018-08-01 16:00] dabbott commented on #169
Ah, I think the version I published on npm is fairly out of date since I haven't been using it lately. I would try building the compiler in `compiler/core` and running `yarn snapshot` to verify it's working correctly

[2018-08-03 16:39] outdooricon commented on #170
@ljharb, can you speak to airbnb's perspective on their support of the future of this project beyond @dabbott's willingness to maintain its current state? Some of us at Target are very interested in exploring this project, and it would be nice to know where airbnb stands...

[2018-08-03 18:25] ljharb commented on #170
@outdooricon any and all projects need people willing and able to maintain them :-) this is @dabbott’s project, so I’d suggest working with them to try to become collaborators - at which point, the bus factor would go up, and there’d be no danger of a lack of owners for the project :-)

In general, Airbnb will be a good steward of all of its projects as long as it can, and when it can’t, we’ll wor

[2018-08-05 01:16] outdooricon commented on #170
Ok, thanks @ljharb for helping to clarify!

@dabbott I'd really, really like to chat with you more off-thread about Lona and the future, how can I reach you?

[2018-08-05 04:06] dabbott commented on #170
@outdooricon Probably Twitter is easiest to start, and then we can figure it out from there. You can DM me at https://twitter.com/dvnabbott

[2018-08-16 09:38] thealjey opened #172 "Roadmap?"
Sorry for a potentially useless issue, but how far do you think this project is from being
production-ready?
Is it going to be a few months/years, or is there a specific list of things that need to be done?

[2018-08-16 21:38] dabbott commented on #172
It really depends on the feature you're looking to use. E.g. in terms of code generation, Swift is pretty far along and React Native is getting there, but Android hasn't been started. As a rough ballpark, I would say 2-3 months of active development.

I'm currently figuring out how I can keep working on this. I don't really have a roadmap now that I'm not at Airbnb anymore, but possibly I will com

[2018-08-21 12:04] JojiThomas031 commented on #26
@dabbott Can you please share them via email ?

[2018-08-27 09:09] huy-lv commented on #26
i need a video walkthrough too

[2018-09-13 08:09] omegasoft7 commented on #172
@dabbott If you make the roadmap I am sure a lot of developers are willing to help you reach the goals. I am one of them and I really liked the idea and will support you as well.

[2018-10-12 18:46] #5 closed

[2018-10-12 18:50] dabbott commented on #12
Some of the UI improvements (e.g. the landing screen) and features (lona.json) workspace indicator solve a lot of this I think. I don't think we need a wrapper anymore.

[2018-10-12 18:50] #12 closed

[2018-10-12 18:51] dabbott commented on #14
This is mostly possible now.

[2018-10-12 18:51] #14 closed

[2018-10-12 18:52] dabbott commented on #29
Mostly done!

[2018-10-12 18:52] #29 closed

[2018-10-12 18:54] dabbott commented on #39
Sketch sync would be awesome but not high priority IMO, since Lona is more focused on the part of the workflow after Sketch.

[2018-10-12 18:54] #39 closed

[2018-10-12 18:56] #55 closed

[2018-10-12 18:58] dabbott commented on #61
Most specific tasks here are done. Closing

[2018-10-12 18:58] #61 closed

[2018-10-12 18:59] #130 closed

[2018-10-12 20:03] dabbott commented on #131
Yeah -- this preferences screen is absolutely terrible, but there shouldn't be any reason to use it anymore... so I'm gonna leave it. I'll redo it whenever I need people to use preferences again

[2018-10-12 20:11] dabbott commented on #169
Updated readme to clarify

[2018-10-12 20:11] #169 closed

[2018-10-12 20:12] dabbott commented on #11
I think this is in a decent state and we can revisit if needed in the future.

[2018-10-12 20:12] #11 closed

[2018-10-12 20:15] ryngonzalez commented on #11
👍

[2018-10-15 19:03] dabbott opened #222 "Roadmap"
This is a feature-level roadmap. Many of these will need to be opened as a separate issue when started. The features are listed in no particular order. Issues are given the following attributes:

[code]

If you're a new contributor:
- Most tasks include both designing and coding the feature. Ideally, you can help with both of these things. If you're just interested in the design part that's great

[2018-10-15 19:05] dabbott commented on #172
There's a roadmap now! https://github.com/airbnb/Lona/issues/222

[2018-10-15 19:05] #172 closed

[2018-10-26 08:29] michaeldong commented on #131
Thanks.

[2018-11-23 09:55] Ivajkin opened #255 "Early adopter and ambasador approval request"
Hi there :wave:!

I am interested in contributing and using AirBnB/Lona it at my company. I'm currently want to become early adopter and ambasador.

I need your help to start because this project is in an early stage and lacks documentation.

I want to use this project very effectively in my company which is CRE PropTech startup.

[2018-11-23 19:10] dabbott commented on #255
Hi @Ivajkin! Can you tell me a little more about your use case? What problem are you trying to solve for your company, and what platforms are you targeting? If it seems like a good fit for Lona (at its current stage), I'd be happy to help you get up and running.

If you don't want to share here, you can also DM me at https://twitter.com/dvnabbott

[2018-11-29 09:20] Ivajkin commented on #255
Good day!

Current project is https://sm2.ai feel free to check that - it's CRE
PropTech solution startup - main platforms right now are iOS and Web
(mobile + desktop).

Also may be helpful to know that I have worked with one of your guys in
SpongeCell Inc. 🙂

On Fri, Nov 23, 2018 at 10:10 PM Devin Abbott <notifications@github.com>
wrote:

--
С уважением.
Ивайкин Тимофей
+7-924-200-50-39

*Веб Аге

[2018-12-05 01:31] dabbott commented on #255
Awesome, that sounds like it could work well! Let's get in touch over skype/hangouts/etc and I'll help you get set up?

[2018-12-07 18:16] 509dave16 opened #259 "Building and Running Development Version of Lona Compiler"
# Building and Running Development Version of Lona Compiler
Hey, @dabbott . I have just started tinkering around with Lona. And I was wanting to test the export of components to React Native. I tried following the steps outlined under the sub package for building the lona compiler: https://github.com/airbnb/Lona/tree/master/compiler/core

I have run `npm run build`, but there's no `lonac` executab

[2018-12-10 16:12] dabbott commented on #259
Hey @509dave16! You can use `node src/main.bs.js` instead of `lonac` to run the development version. `lonac` is only for the prod version published on `npm`.

I just updated the docs to make that more clear. For a more concrete example for React Native, check out the `package.json` scripts: https://github.com/airbnb/Lona/blob/b362f7102bb245676e6b3dff4065d70a9975ff0a/compiler/core/package.json#L21

[2018-12-10 17:53] 509dave16 commented on #259
@dabbott Thank you! I had seen those npm scripts, but I mistook them for some kind of jest snapshot testing. Really appreciate the time you took to get back to me. I'll go ahead and close this. Thanks again for your help!!

[2018-12-10 17:53] #259 closed

[2018-12-10 18:08] 509dave16 opened #262 "Help getting started on lona compiler contributions"
### Learning Reason beforehand
@dabbott I noticed that you wrote the compiler in Reason which is awesome! But I know historically many people have mentioned that the learning curve of Reason is still pretty high even though it's fairly similar to JS syntax. What are your recommended learning resources for getting up to speed on Reason? The only thing I am familiar with as a good resource is the Re

[2018-12-10 18:59] dabbott opened #263 "[Layout] Text layer siblings may have incorrect widths"
## Expected Behavior

In the case of two text layer siblings in a horizontal parent where:
- the first is "Fit Content" width
- the second is "Fill" width
the first should shrink to the text's intrinsic size, while the second should expand to fill the parent.

## Current Behavior

The first fills the remainder of the space, and the second fits the text's intrinsic size.

## Workaround

Create a wr

[2018-12-10 19:33] dabbott commented on #262
### Reason

Reason can be a bit tricky, but here are a few things I found helpful:
- I've found this VSCode plugin (https://marketplace.visualstudio.com/items?itemName=jaredly.reason-vscode) to be way more stable than the official one, so I'd recommend using it instead
- Reason is _mostly_ just a different syntax for OCaml, so I found going through the first couple chapters of the OCaml guide to b

[2018-12-10 21:03] dabbott opened #264 "Add comment to the top of every generated file"
## Summary

Add a comment containing the compiler's version number to the top of every file. This is useful to prevent people from unknowingly modifying generated code and having their changes wiped away. It's also helpful to see the compiler's version for debugging purposes.

We should add the comment:

[code]

where the version number comes from the package.json. If it ends up looking nicer, we

[2018-12-10 21:04] dabbott commented on #262
Creating an issue is a good idea! I just made this one: https://github.com/airbnb/Lona/issues/264

[2018-12-14 22:11] ohld opened #267 "Installing on a fresh macbook"
Hi there! I'm trying to test your app, but I have not do any iOS development.

I've tried to do [these commands](https://github.com/airbnb/Lona/blob/master/studio/README.md):
[code]

But it failed.

I was asked to install **carthage**. The installation command:
[code]

After I have received an error:
[code]
and this solved this problem: https://stackoverflow.com/questions/40743713/command-line-too

[2018-12-18 00:01] dabbott commented on #262
@509dave16 were you able to get things set up OK?

[2018-12-18 00:02] dabbott commented on #267
Thanks for pointing this out @ohld! I'll definitely update the instructions.

[2018-12-18 00:18] 509dave16 commented on #262
@dabbott Sorry for the long intermission. I have yet to start on https://github.com/airbnb/Lona/issues/264 . The reason I have taken an interest in your project and wanted to help was because I started doing React Native contract work. I just need to carve out some time to get down to business with that issue.

[2018-12-18 01:00] #267 closed

[2018-12-18 01:09] dabbott commented on #262
@509dave16 ok, let me know if you run into any issues. I'd also be happy to help you get set up if you're planning to use Lona for a RN project.

[2019-01-07 20:11] dabbott commented on #131
Fixed

[2019-01-07 20:11] #131 closed

[2019-01-10 17:03] dabbott opened #285 "Generated component docs"
I'm starting this thread to list out some misc ideas I've had around component docs. I think I'm personally going to be more focused on improving the core Lona studio/compiler functionality than docs for now, so this is more just to get the conversation started.

Thoughts in no particular order:

- When we build the docs site, we should try to use Lona for the colors and type scale. One of the coo

[2019-01-10 17:55] mathieudutour commented on #285
My go-to example of a nice DS documentation is https://polaris.shopify.com ([component page example](https://polaris.shopify.com/components/actions/account-connection#navigation)).

I think each component should have an mdx field (`description`). You can also create mdx files in your workspace to create pages for high-level documentation. The structure of the workspace can then be translated into

[2019-01-10 23:49] dabbott commented on #285
I think polaris does some things well, like content guidelines. I find the overall UI kind of awkward to navigate. The navigation and margins are so big that it doesn't leave much room for content. It would be nice if the code sample were editable. It's also awkward that the props editing form is below the code sample, since I have to scroll up and down to actually see my changes. And iOS/Android

[2019-01-11 11:56] luisjmontoro opened #286 "Nesting your own way colors in a json file"
Hi @dabbott! Lona Studio is really impressive, thank you for all of this work!

I have a doubt, I was trying to render my own color tokens that I had previously defined in a json file with a different nesting than the one on the material design example. Is this possible? Because I can't render them but I don't know if it is even possible today :)

Thank you!!

[2019-01-11 16:11] dabbott commented on #286
Hi @luisjmontoro, can you paste a snippet of your tokens json file?

It's probably not possible, but I'm interested in seeing how you've nested them. I want to support other formats at some point.

[2019-01-14 08:37] mathieudutour commented on #286
That's indeed a common way to have your tokens. I'd also say that a lot of people have "raw colors" (like `red50`, `gray200`, etc.) and "semantic colors" which references the raw colors. So you can have different semantic colors referencing the same raw color without duplicating its value

[2019-01-14 08:43] luisjmontoro commented on #286
Hi @mathieudutour!

Yes, I think that we are actually doing that. This would be the code from our main.css file to reference, for example, a class used in a button:

[code]

[2019-01-14 18:14] dabbott commented on #286
Thanks for sharing @luisjmontoro. Lona won't be able to render or edit this format. In the future I think we will support multiple color formats.

Are you using styled-dictionary? I think it'd be pretty cool to support editing the styled-dictionary format. We would support editing the format and generating Lona-compatible code from it (but you could also use styled-dictionary directly to generate

[2019-01-15 08:13] luisjmontoro commented on #286
Understood @dabbott! I'm using style-dictionary and I already have all my tokens defined in that format, but I was curious about trying Lona (which I'm still are and still be doing!).

Thank you so much!! :)

[2019-01-15 09:59] mathieudutour commented on #286
Let’s keep it open as we will want to do something about it :)

[2019-02-11 20:29] #255 closed

[2019-02-11 20:30] #262 closed

[2019-02-20 17:25] #264 closed

[2019-03-03 20:21] mathieudutour opened #322 "[Styled Components - Logic] Logic that should update a style property of a component doesn't"
The following component:
[code]

generates the following react component:
[code]

`underline$opacity` is not used but should be

[2019-03-03 20:26] mathieudutour opened #323 "[Styled components] A layer starting with a lowercase letter will produce a broken component"
The following component:
[code]

generates the following react component:
[code]

Note the `<text> {"Text goes here"} </text>` which react interprets as a native DOM component (like all components starting with a lowercase)

[2019-03-05 17:27] dabbott opened #325 "[Lona Studio] Pressing "Enter" should open a project on welcome screen"
## Summary

Currently the welcome screen supports keyboard navigation through the list of recently opened projects, but pressing the "Enter" key doesn't open a project.

![screen_shot_2019-03-05_at_9_09_01_am](https://user-images.githubusercontent.com/1198882/53824447-cfdb2c80-3f28-11e9-9b92-4b1c47b19f0c.png)

We're copying the Xcode welcome window's behavior here: we want double-click to open a p

[2019-03-05 17:31] dabbott commented on #325
Tentatively for @klymenkoo

[2019-03-06 01:14] mathieudutour opened #327 "consistent exit code when the compiler fails"
follow up from #326

In some cases, when the compiler doesn't manage to compile a component, it writes to stderr but exit with `0` (which should indicate success). We should be consistent and exit with `1` when there is an error.

[2019-03-07 20:40] #325 closed

[2019-03-12 18:00] dabbott opened #338 "[Lona Studio] Update the "add" menu when new components are created"
## Summary

The "add" menu is used to add new instances of components, "layers", to the current component's layer hierarchy.

Currently the "add" menu only scans for custom components when the UI is instantiated. This means that when new components are created, moved, or deleted, it can become stale:

![Screen_Shot_2019-03-12_at_10_27_51_AM](https://user-images.githubusercontent.com/1198882/542222

[2019-03-12 18:20] dabbott opened #339 "[Lona Studio] Display SVG files when selected within the file navigator"
## Summary

Currently Lona Studio displays some image files, e.g. PNG files, when selected in the file navigator. However, it doesn't display SVG files, which it really should, since it handles them elsewhere correctly.

Here's what the image viewer looks like for PNG files:

![Screen Shot 2019-03-12 at 11 08 36 AM](https://user-images.githubusercontent.com/1198882/54224809-8609bd80-44b7-11e9-846c

[2019-03-12 18:53] klymenkoo commented on #338
I'd like to work on this issue.

[2019-03-12 18:54] klymenkoo commented on #339
I want to take this issue as well.

[2019-03-13 02:19] klymenkoo commented on #339
I was able to display SVG images, but some images are rendered with pure black color for some reason (look screenshot 2):
<img width="300" alt="Screen Shot 2019-03-12 at 10 11 23 PM" src="https://user-images.githubusercontent.com/26641473/54248647-dca4e500-4513-11e9-86e0-613b1ff3f7a7.png">
<img width="300" alt="Screen Shot 2019-03-12 at 10 11 43 PM" src="https://user-images.githubusercontent.com/2

[2019-03-13 05:31] dabbott commented on #339
I'm not sure, but those SVGs most likely use features that Lona's very primitive SVG renderer doesn't support yet. E.g. the firefox one might have gradients, but we can only draw solid colors for now. So I think what you have looks good.

[2019-03-14 01:04] #339 closed

[2019-03-20 12:02] #285 closed

[2019-03-20 12:04] mathieudutour opened #347 "Documentation generation polish"
Follow up from #316

- [ ] figure out fonts
- [ ] figure out personalization (eg. "forking" the pages)
- [ ] add different languages for the code examples
- [ ] generate social cards for component pages (when sharing on twitter, slack, etc.)
- [ ] generate an appcast for the sketch library and add a button to add it as a library directly (instead of downloading the file)

[2019-03-23 01:14] #338 closed

[2019-03-23 23:12] dabbott opened #355 "[Lona Studio] Add easy component duplication"
## Summary

When creating a new component, it's common to duplicate an exist component as a starting point. There's an option for this in the app menu under `File > Duplicate`, but it would be more convenient/discoverable if it were a context menu item in the File Navigator:

![Screen_Shot_2019-03-23_at_3_45_48_PM](https://user-images.githubusercontent.com/1198882/54872585-6ca02580-4d83-11e9-87a5-

[2019-03-23 23:53] dabbott opened #356 "[Lona Studio] Implement bottom pane hide/show"
## Summary

This button _should_ hide/show the bottom section of the UI, but currently it does nothing!

![Screen_Shot_2019-03-23_at_4_16_20_PM](https://user-images.githubusercontent.com/1198882/54872785-32d11e00-4d87-11e9-9075-6e0fc1977e98.png)

Let's fix that. Some new users have been pretty confused by why the bottom hasn't been responding...

## Proposed Implementation

When the `activePanes`

[2019-03-26 03:06] klymenkoo commented on #355
I'd like to work on it 🙋‍♂️

[2019-03-27 23:02] klymenkoo opened #358 "[Lona Studio] Delete files by pressing "Delete" button"
## Summary of Idea

At the moment, you can delete files in the file navigator only by using the context menu. It would be really nice to be able to delete files just by pressing "delete" button.

## Expected Behavior
A user should select a file and press "delete" button on the keyboard.

## Current Behavior
A user has to select file, right click it, and select "Delete" option.
<img width="407" alt

[2019-03-28 02:04] mathieudutour commented on #358
i'd say it's usually cmd + delete, not just delete

[2019-03-28 17:08] klymenkoo commented on #355
Here is my progress so far:
![screen](https://user-images.githubusercontent.com/26641473/55177475-ba3cd980-5159-11e9-89bb-44f3a7649689.gif)

It pretty much works as it's supposed to work. The only small thing the needs to be implemented is:
newly created file should be selected in the file navigator.

At the moment, the app opens the duplicated component in the Component Editor after creating it,

[2019-03-28 19:00] dabbott commented on #355
This looks great! You're right that it would be better if the newly created file were selected, but I think we can merge this as-is and make a separate issue for that after. There are already a bunch of other cases where new files should be selected but aren't.

The file navigator is a separate repo, https://github.com/dabbott/FileTree, and I haven't implemented updating the selection yet. I think

[2019-03-28 19:06] dabbott commented on #358
Great suggestion!

I just tried in VSCode and Xcode, and it looks like its just Delete, but then it prompts for confirmation. I think we could do the same. Cmd+Delete would work too, although I would still want to prompt for confirmation, so I don't think the Cmd is needed at that point.

![Screenshot_3_28_19__12_02_PM](https://user-images.githubusercontent.com/1198882/55185380-76de6d00-5151-11e9-

[2019-03-28 19:51] mathieudutour commented on #358
Oh interesting, for me vs code only cmd + delete works and there is no confirm alert.

Maybe I click on the do not ask me again once

[2019-03-31 17:46] dabbott commented on #347
I had an interesting idea for personalization. It'd be interesting if we generated actual `md`/`mdx` files for each page, and then people who don't use gatsby or who want completely custom styles/layouts could load those into their existing site however they want. We would also make the components that we use within the `mdx` files available for import. It'd be nice if there were also an easier wa

[2019-03-31 18:30] mathieudutour commented on #347
That's def something we need to do yes

One idea I had was to provide:
- an option to specify the path to one or more templates (the components here: https://github.com/airbnb/Lona/tree/master/compiler/generate-docs/templates)
- provide a command to copy paste the lona workspace of the documentation and add an option to specify its path

That way you have 2 different ways to personalize the docs:

[2019-03-31 22:25] dabbott commented on #347
Those all sound good to me. I think if we had all of those, that'd be enough flexibility for pretty much any use case

[2019-04-01 03:20] dabbott opened #362 "Improve component file mergability by supporting another serialization format"
## The problem

Lona's `.component` files are hard to merge. This is an important problem to solve, since Lona components are specifically designed to be the "source of truth" for large teams, and edits made by 2 people will be fairly common.

Component files should be at least as merge-friendly as code files:
- changes to unrelated lines are generally automatic
- changes to the same lines are a n

[2019-04-01 23:42] mathieudutour commented on #362
That's an interesting problem for sure.

Are you confident that `xml` would improve mergeability? Because git is line based, I don't think xml would actually be much better. While it might not create an invalid xml file as often, it could totally create a valid xml file but invalid component. And I'd say that's worse?

[2019-04-02 00:46] dabbott commented on #362
I'm pretty confident it'll be better than JSON in a lot of the common cases, although I'd definitely want to experiment with it for a while to get a better understanding before we commit to it. One thing that would help is having some concrete example merges as test cases. Then we could get a more scientific comparison JSON vs. XML. That'd also inform how we decide what should be an attribute vs.

[2019-04-02 17:14] #355 closed

[2019-04-06 04:22] klymenkoo commented on #356
I'll take this issue.

[2019-04-07 19:52] dabbott opened #367 "[SwiftLint] Pre-commit hooks fails on files with spaces in path"
This is easy to workaround, so not a big deal, but good to fix at some point.

We had a directory called `Inspector View`, which then produces a nonexistant path in the SwiftLint script. Probably there needs to be a quoted string somewhere, but I didn't look into where. It could also be a problem in SwiftLint itself.

[code]

[2019-04-09 16:04] #367 closed

[2019-04-10 13:01] ChristophLabacher opened #372 "File format spec: Text-transform in Text Style Definitions"
Hi, not sure if this is the right place for this – if it isn’t please point me to the right one 😊

I started to work with the text style format defined by Lona in a project of mine and started to wonder, if the text-transform property should be an optional attribute of the text style spec as well. I have not made up my mind yet, but would love the see discussion of this.

My thinking is the follow

[2019-04-10 16:54] dabbott commented on #372
Hi Christoph, you're in the right place!

I've run into a few cases where text-transform would be useful also, and I think it could be part of the spec. In design systems, it's pretty common to have text styles which should _only_ be used in uppercase, so I think it's reasonable for tools to enforce casing (optionally, for those who want it).

In terms of code generation:
- it's easy for web and R

[2019-04-13 19:48] ChristophLabacher opened #378 "File format spec (Shadows): Lack of spread value and inside shadows"
I noticed that the `spread` value is missing from the shadow spec. Is this a conscious choice?

It is offered by most design tools and is built-in to CSS. It’s not a property for `CALayer` in Cocoa, but can apparently be created using `.shadowPath`. I am not sure about Android …

[2019-04-19 16:15] dabbott commented on #378
Yeah, I left `spread` off since it's not easy to do on iOS. We could do it with `shadowPath`, but it's a bit more work, so I haven't gotten around to it yet. It's also not available on React Native, but I think that's OK, since the platforms I want to support initially are web, iOS, and Android -- and there's no fundamental reason why it couldn't be added to RN.

On Android, shadows will need to b

[2019-04-26 03:59] thekevbot opened #383 "No such module 'Logic' while building Lona Studio"
In attempting to build Lona Studio, I'm getting this error:

![image](https://user-images.githubusercontent.com/991849/56782660-e7060000-679c-11e9-8bcd-9fabed5358cf.png)

I'm following the instructions found here, exactly: https://github.com/airbnb/Lona/blob/master/studio/README.md

Does anyone know what might be going wrong?

[2019-04-30 02:15] mathieudutour commented on #383
was there any error when running `carthage bootstrap --new-resolver --platform macOS`?

[2019-04-30 02:16] mathieudutour commented on #356
This is fixed right?

[2019-04-30 02:16] #356 closed

[2019-05-07 10:42] mathieudutour commented on #383
You need to update Xcode

[2019-05-07 11:47] #383 closed

[2019-05-12 16:49] mathieudutour opened #386 "Infinite loop when clicking on an LNAImageView"
In Studio, when clicking on an LNAImageView (for example, open the material-design example > Elements > Card and click on the image of the card in the canvas), it enters an infinite loop and keeps allocating a CGImage until it runs out of memory.

I haven't been able to understand why it does that but I'm pretty sure it wasn't doing that before. I'm guessing it's because of https://github.com/airb

[2019-05-27 09:28] ChristophLabacher commented on #372
I am experienced with web development and have a little experience writing Swift. What would be the best way for me to contribute in order to move this issue along?

[2019-05-27 22:12] dabbott commented on #372
There are 3 places we'll want to update:
- The spec doc
- Lona Studio
- The compiler

We can update each of these independently or all together, either way is fine. If you're most interested in specific part(s), you're welcome to just do those. I'm also happy to help or find somebody else to help (there's a person looking for a beginner-friendly compiler task, this might be one). What do you think

[2019-05-28 13:19] ChristophLabacher commented on #372
Thanks for this extensive response! I’ll look into it over the next days and let you know how far I come 😊 This is such a great help to get started and get familiar with Lona’s code structure!

Regarding the spec – In the existing docs I haven’t found an example of specifying an exhaustive set of possible string values. Should they be listed under Type or within the Description? Should `none` be l

[2019-07-24 13:12] mcclowes commented on #383
For me, it was both the Xcode version AND this: https://stackoverflow.com/questions/40743713/command-line-tool-error-xcrun-error-unable-to-find-utility-xcodebuild-n

[2019-11-03 14:43] omuomugin opened #411 "Are there any plan to build viewer for `.component` ?"
Hi there I'm very fan of this project and I played around with this tools and CLI tools.
And I came up with an idea and I wanted to ask this could be in your road map or not.

## Summary of Idea
I slightly understand what Lona Studio wanted to do.
However I guess it is not easy to build editor for mac app (as there seem to have some performance issues).
So how about building some viewer app or web

[2019-11-03 14:45] omuomugin commented on #411
maybe this is what I was looking for?
https://github.com/airbnb/Lona/tree/master/compiler/generate-docs

[2019-11-04 20:35] mathieudutour commented on #411
Kind of. There is the Lona compiler that generates React components from .component files. So you can use those react components to build a viewer if you’d like to.

But Lona Studio is working fine :)
The `generate-docs` is a work in progress for the moment but we will soon have some improvements on that side!

[2019-11-04 20:35] #411 closed

[2019-11-05 22:55] #386 closed

[2019-11-08 17:24] mathieudutour opened #443 "Compiler Improvements ☔"
There are a lot of low hanging fruits to improve the compiler:

- [ ] use a `debug` helper (similar to https://www.npmjs.com/package/debug) to add some logs without polluting the output
- [ ] add a entry point for the node package so that you can do `lonac.compile(...)` from NodeJS without having to shell out
- [ ] allow passing the entire workspace via a `{ files: [] }` map of some kind on stdin

[2019-11-17 17:27] #358 closed

[2020-01-04 13:44] andylamax commented on #26
I need a video walkthrough too...
I watched a talk about SDUI and I would looove to try this out. I don't even know where to start the setup

[2020-01-12 00:01] trustyoo86 opened #460 "Is there any documents using Lona?"
## Summary

Question that use other company's design system.

## Contents

Hello,
I'm front-end engineer in e-commerce company.
Our team planning to convesion from legacy to react, and I found this project that utilities for design systems.

But, I can't find enough document that I understand this project.
Is there different from `react-sketchapp`? And If our team apply this in our project, How ca

[2020-02-05 18:13] mathieudutour commented on #443
fixed in #462

[2020-02-05 18:13] #443 closed

[2020-02-05 18:14] mathieudutour commented on #327
fixed in #462

[2020-02-05 18:14] #327 closed

[2020-03-16 22:16] #362 closed

[2020-04-05 08:04] jamesjara commented on #460
same question, thanks

[2020-04-05 13:39] jannikrl opened #481 "No such module "ThemedColor""
## Expected Behavior
Being able to build Lona in Xcode

## Current Behavior
When I build Lona in Xcode I get the error: "No such module 'ThemedColor'".

ThemedColor is imported in the file NavigationItemStack.swift in the BreadcrumbBar package. ThemedColor seems not to be used in the file, so maybe the import is not necessary?

<img width="1298" alt="Skærmbillede 2020-04-05 kl  15 38 54" src="http

[2020-04-05 13:51] mathieudutour commented on #481
Did you install the carthage dependencies?

[2020-04-05 14:25] jannikrl commented on #481
I just ran the below Carthage command just to be sure. When I build the project I still see the error.

`carthage bootstrap --new-resolver --platform macOS`

[2020-04-05 17:23] dabbott commented on #481
This is a bug, perhaps due to Swift PM packages not being resolved to a specific version. I'll fix it.

[2020-04-05 21:11] dabbott commented on #481
This should hopefully be fixed on master now!

[2020-04-05 21:15] dabbott commented on #460
- `react-sketchapp`: generate a Sketch file using React + a framework very similar to React Native
- `Lona`: define your components/shared styles using a _custom configuration format_ and generate: a Sketch file, documentation website, React, iOS, and Android code

Lots of updates/new docs hopefully coming soon!

[2020-04-06 08:43] jannikrl commented on #481
Beautiful. It works!

[2020-04-06 08:43] #481 closed

[2020-05-01 07:24] rbansalrahul6 opened #490 "[Contributing] How to contribute for Android/Kotlin support?"
I really loved the concept of this library. I want to try it out with my Android/Kotlin projects. Is there any way I can contribute? Also contributing guidelines seems to be missing.
Please guide me, it would be really great to contribute.

[2020-05-03 17:41] dabbott commented on #490
Hey @rbansalrahul6! Lona isn't quite ready to try out with Android/Kotlin projects yet, but will be in a couple weeks. I'm currently working closely with a ✨corporate sponsor✨ to get Android code generation off the ground, but we're not looking for more contributors until we have things a bit more fleshed out. I'll let you know when it's ready for testing/contribution.

Contributing guidelines are

[2020-08-17 15:29] carlonzo commented on #490
Hi! whats the status of this?

[2020-11-12 12:47] vasicvuk opened #517 "Cannot build studio"
## Expected Behavior
Build success 👍

## Current Behavior

I tried to build Lona studio according to readme but i get following error when trying to build:

Type of expression is ambiguous without more context.

File **CSValue.swift** Line: **239**
File **CSValue.swift** Line: **259**
File **CSValue.swift** Line: **292**
File **CSType.swift** Line: **455**
File **CSType.swift** Line: **468**
File

[2020-11-13 13:58] vasicvuk commented on #45
Is there a plan for this in recent future?

[2020-11-18 07:44] vasicvuk commented on #460
@dabbott Since there is no update for a long time now, I would like if this project is still developed and maintained or not ?

Thanks

[2020-11-20 05:37] #460 closed

[2020-11-26 11:39] ramityadav7 opened #518 "I am an Android developer and we are planning to explore Lona for our Android and iOS applications. I was trying to build "Lona Studio" on High Sierra v10.13.6 (Xcode v10.1). As I don't have experience working on mac so its difficult to point out the exact issue. Please help me to compile/run "Lona Studio"""
## Current Behavior

[2020-11-28 16:48] jamesjara commented on #460
still wondering about

[2020-12-11 07:13] iAmNaz commented on #517
You can build it by removing CSType before the .variant case.

<img width="586" alt="Screen Shot 2020-12-11 at 3 11 58 PM" src="https://user-images.githubusercontent.com/9004747/101874172-51aebe00-3bc3-11eb-8ea7-47a7958c62f7.png">

<img width="1005" alt="Screen Shot 2020-12-11 at 3 13 14 PM" src="https://user-images.githubusercontent.com/9004747/101874205-6a1ed880-3bc3-11eb-97fa-050ee63699ec.png">